# File: initial-setup/ansible/templates/zigbee2mqtt_config.yaml.j2
homeassistant: true
permit_join: false
mqtt:
  base_topic: zigbee2mqtt
  server: 'mqtt://{{ lookup("vars", "mqtt_ct_name") or "MQTT" }}.{{ lookup("vars","pve_host") or "local" }}:1883'
  user: '{{ mqtt_user }}'
  password: '{{ mqtt_password }}'
serial:
  port: /dev/serial/by-id/{{ lookup('vars','zigbee_usb_id') | default('usb-dongle-id') }}
