[Unit]
Description=Restore Semaphore data from NAS backup
After=network-online.target remote-fs.target
Before=semaphore.service
Wants=network-online.target

[Service]
Type=oneshot
ExecStart={{ semaphore_restore_script_path }}
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
