[Unit]
Description=Webserver {{ inventory_hostname }}
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/{{ inventory_hostname }}
ExecStart=/usr/bin/npm start
Environment=PORT={{ webserver_port }}
Environment=HOST=0.0.0.0
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
