---
# tasks/configure_networking.yml – Statische IP via Netplan konfigurieren
#
# Läuft im Container (hosts: nodered).

- name: Configure static networking (Netplan)
  template:
    src: templates/netplan.yaml.j2
    dest: /etc/netplan/99-ansible-static.yaml
    mode: '0600'
  register: netplan_config

- name: Remove conflicting default Netplan configs
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/netplan/50-cloud-init.yaml
    - /etc/netplan/00-installer-config.yaml
  register: netplan_cleanup

- name: Apply network changes
  command: netplan apply
  when: netplan_config.changed or netplan_cleanup.changed
