network:
  version: 2
  ethernets:
    eth0:
      dhcp4: no
      addresses:
        - {{ ansible_host }}{{ network_cidr }}
      nameservers:
        addresses: [{{ network_dns | default(network_gateway) }}]
      routes:
        - to: default
          via: {{ network_gateway }}
