- hosts: localhost
  connection: local
  gather_facts: yes
  tasks:
    - name: "System | Clean up Proxmox Enterprise Repository"
      file:
        path: /etc/apt/sources.list.d/pve-enterprise.list
        state: absent

    - name: "System | Add Proxmox No-Subscription Repository"
      apt_repository:
        repo: "deb http://download.proxmox.com/debian/pve bookworm pve-no-subscription"
        state: present
        filename: pve-no-subscription
      register: repo_added

    - name: "System | Update APT Cache"
      apt:
        update_cache: yes
      when: repo_added.changed

    - name: "System | Install essential packages"
      apt:
        name:
          - git
          - curl
          - vim
          - htop
          - usbutils
          - sudo
        state: present

    - name: "System | Enable IOMMU (Intel/AMD)"
      lineinfile:
        path: /etc/default/grub
        regexp: '^GRUB_CMDLINE_LINUX_DEFAULT="(.*)"'
        line: 'GRUB_CMDLINE_LINUX_DEFAULT="\1 intel_iommu=on amd_iommu=on"'
        backrefs: yes
      when: system.enable_iommu | default(false) | bool
      register: grub_update

    - name: "System | Update GRUB"
      command: update-grub
      when: grub_update.changed

    - name: "System | Configure SSH Keys (Root)"
      authorized_key:
        user: root
        key: "{{ item }}"
        state: present
      loop: "{{ system.ssh_authorized_keys | default([]) }}"

    - name: "System | Create Service User 'homelab'"
      user:
        name: homelab
        shell: /usr/sbin/nologin
        system: yes
        create_home: no
        state: present

    - name: "System | Create Admin User"
      user:
        name: "{{ system.admin_user }}"
        password: "{{ system.admin_password | password_hash('sha512') }}"
        groups: sudo,homelab
        append: yes
        shell: /bin/bash
        state: present
      when: system.admin_user is defined

    - name: "System | Configure SSH Keys (Admin)"
      authorized_key:
        user: "{{ system.admin_user }}"
        key: "{{ item }}"
        state: present
      loop: "{{ system.ssh_authorized_keys | default([]) }}"
      when: system.admin_user is defined

    - name: "System | Create Data Directory /var/lib/homelab-data"
      file:
        path: /var/lib/homelab-data
        state: directory
        owner: homelab
        group: homelab
        mode: '2775'

    - name: "System | Create Symlink to Data Directory in Admin Home"
      file:
        src: /var/lib/homelab-data
        dest: "/home/{{ system.admin_user }}/homelab-data"
        state: link
        owner: "{{ system.admin_user }}"
        group: "{{ system.admin_user }}"
      when: system.admin_user is defined
