all:
  hosts:
    desktop_background_webserver:
      ansible_host: "{{ webserver_container_ip }}"
      ansible_user: root
      ansible_ssh_private_key_file: /root/.ssh/id_rsa
      ansible_ssh_common_args: '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'